<h2
  id="education"
  class="mb-5 mt-10 text-lg font-bold text-gray-600 dark:text-gray-600"
>
  Educación
</h2>

<!-- Grid -->
<div class="grid grid-cols-1 xs:grid-cols-2 gap-3">
  <div class="p-4 border shadow-lg border-gray-200 rounded-lg dark:border-neutral-700">
    <img
      class="w-28 h-15 mb-3 object-contain"
      src="assets/ilerna.png"
      alt="Ilerna"
    />

    <h3 class="mb-1 text-xs text-gray-600 dark:text-gray-600">
      2020 - 2022
    </h3>

    <p class="text-sm font-semibold text-gray-800 dark:text-gray-800">
      Grado medio en sistemas microinformáticos y redes
    </p>

    <p class="mt-1 text-sm text-gray-600 dark:text-gray-600">
      Ilerna Formación Profesional
    </p>
  </div>

  <div class="p-4 border shadow-lg border-gray-200 rounded-lg dark:border-neutral-700">
    <img
      class="w-28 h-15 mb-3 object-contain"
      src="assets/ilerna.png"
      alt="Ilerna"
    />

    <h3 class="mb-1 text-xs text-gray-600 dark:text-gray-600">
      2022 - 2024
    </h3>

    <p class="text-sm font-semibold text-gray-800 dark:text-gray-800">
      Grado superior en desarrollo de aplicaciones web
    </p>

    <p class="mt-1 text-sm text-gray-600 dark:text-gray-600">
      Ilerna Formación Profesional
    </p>
  </div>
</div>
<!-- End Grid -->
