<h2
  id="skills"
  class="mb-5 mt-10 text-lg font-bold text-gray-600 dark:text-gray-600"
>
  Habilidades
</h2>

<!-- Icon Blocks -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <div
    class="grid max-sm:grid-cols-2 xs:grid-cols-3 sm:grid-cols-4 lg:grid-cols-6 items-center gap-6 md:gap-10"
  >
    <!-- Skill -->
    <div
      class="inline-flex justify-center items-center size-18"
    >
      <img src="assets/VS.png" class="aspect-square object-contain" alt="Visual Studio" />
    </div>
    <!-- End Skill -->
  
    <!-- Skill -->
    <div
      class="inline-flex justify-center items-center size-20"
    >
      <img src="assets/.net.png" class="aspect-square object-contain" alt=".NET" />
    </div>
    <!-- End Skill -->

    <!-- Skill -->
    <div
      class="inline-flex justify-center items-center size-20"
    >
      <img src="assets/Csharp.png" class="aspect-square object-contain" alt="C#" />
    </div>
    <!-- End Skill -->

    <!-- Skill -->
    <div
      class="inline-flex justify-center items-center size-20"
    >
      <img src="assets/VB.png" class="aspect-square object-contain" alt="Visual Basic" />
    </div>
    <!-- End Skill -->

    <!-- Skill -->
    <div
      class="inline-flex justify-center items-center size-20"
    >
      <img src="assets/sqlserver.png" class="aspect-square object-contain" alt="SQL Server" />
    </div>
    <!-- End Skill -->

    <!-- Skill -->
    <div
      class="inline-flex justify-center items-center size-17"
    >
      <img src="assets/mysql.png" class="aspect-square object-contain" alt="MySql" />
    </div>
    <!-- End Skill -->

    <!-- Skill -->
    <div
      class="inline-flex justify-center items-center size-22"
    >
      <img src="assets/sqlite.png" class="aspect-square object-contain" alt="SQLite" />
    </div>
    <!-- End Skill -->

    <!-- Skill -->
    <div
      class="inline-flex justify-center items-center size-20"
    >
      <img src="assets/html.webp" class="aspect-square object-contain" alt="HTML" />
    </div>
    <!-- End Skill -->

    <!-- Skill -->
    <div
      class="inline-flex justify-center items-center size-22"
    >
      <img src="assets/css.png" class="aspect-square object-contain" alt="CSS" />
    </div>
    <!-- End Skill -->

    <!-- Skill -->
    <div
      class="inline-flex justify-center items-center size-22"
    >
      <img src="assets/js.webp" class="aspect-square object-contain" alt="Javascript" />
    </div>
    <!-- End Skill -->

    <!-- Skill -->
    <div
      class="inline-flex justify-center items-center size-20"
    >
      <img src="assets/jquery.png" class="aspect-square object-contain" alt="JQuery" />
    </div>
    <!-- End Skill -->

    <!-- Skill -->
    <div
      class="inline-flex justify-center items-center size-20"
    >
      <img src="assets/react.png" class="aspect-square object-contain" alt="React" />
    </div>
    <!-- End Skill -->

    <!-- Skill -->
    <div
      class="inline-flex justify-center items-center size-22"
    >
      <img src="assets/angular.png" class="aspect-square object-contain" alt="Angular" />
    </div>
    <!-- End Skill -->

    <!-- Skill -->
    <div
      class="inline-flex justify-center items-center size-18"
    >
      <img src="assets/git.png" class="aspect-square object-contain" alt="Git" />
    </div>
    <!-- End Skill -->

    <!-- Skill -->
    <div
      class="inline-flex justify-center items-center size-22"
    >
      <img src="assets/jwt.png" class="aspect-square object-contain" alt="JWT" />
    </div>
    <!-- End Skill -->

    <!-- Skill -->
    <div
      class="inline-flex justify-center items-center size-22"
    >
      <img src="assets/docker.png" class="aspect-square object-contain" alt="Docker" />
    </div>
    <!-- End Skill -->

    <!-- Skill -->
    <div
      class="inline-flex justify-center items-center size-18"
    >
      <img src="assets/rabbitmq.png" class="aspect-square object-contain" alt="Rabbitmq" />
    </div>
    <!-- End Skill -->

    <!-- Skill -->
    <div
      class="inline-flex justify-center items-center size-18"
    >
      <img src="assets/redis.webp" class="aspect-square object-contain" alt="Redis" />
    </div>
    <!-- End Skill -->
  </div>
</div>
<!-- End Skill Blocks -->
